@charset "UTF-8";
body{
    margin: 0px 0px;
    padding: 0px 0px;
    overflow-x: hidden;
}
.container1{
    width: 1366px;
    height: 160px;
    border:1px solid seagreen;
    background:linear-gradient(black,black,black,black,black,white,white);
    /*background-size: cover;*/
}
.top{
    height: 70%;
    width: 100%;
    background-image: url("../images/matchtop.jpg");
}
.nav{
    padding-top: -10px;
    width: 100%;
    height: 30%;
    margin-top: -20px;
    background:rgba(0,0,0,0.5);

}
.nav>ul li{
    margin-top: -10px;
    list-style: none;
    width: 100px;
    height: 30px;

}
.nav>ul li>a{
    text-decoration: none;
    color: white;
}
.nav>ul li:hover{
    transition: 0.7s;
    transform: translate(8px);
}
.nav>ul li>a:active{

    color: yellow;
}
.li0{
    text-align:center ;
    background-color: firebrick;
    font-size: 20px;
    float: left;
    margin-left: 9.5%;
    box-shadow: 4px 5px 8px gray;
    border-radius: 3px;
}
.container2{
    width: 1366px;
    height: 630px;
    margin-top: -8px;
    background-color: black;
    padding-top: 20px;
}
.container21{
    width: 1260px;
    height: 611px;
    background: rgba(52, 49, 48, 0.45);
    margin-left: 3%;
}
.leftdiv{
    width: 983px;
    height: 557px;
    /*background-color: #d4ffba;*/
    float: left;
}
.rightdiv{
    width: 275px;
    height: 100%;
    /*border: 1px solid seashell;*/
    float: right;
    color: darkgrey;
    overflow-y: scroll;
}
.rightdiv>ul{
    width: 100%;
    margin: 0;
    padding: 0;
}
.li1{
    list-style: none outside none;
    display: block;
    margin: 0;
    padding: 0;
    height: 40px;
    width: 100%;
    overflow:hidden;
    /*background-color: #f0f0f0;*/
    transition: height 0.3s ease-in-out;
}
.matchkind{
    margin: 0;
    padding: 10px;
    height: 19px;
    /*border-top:1px solid #f0f0f0;*/
    /*color: #000;*/
    /*background: linear-gradient(#0099ff,#71d1fd);*/
    custor:pointer;
    position: relative;
}
.matchkind>a{
    color:greenyellow;
    text-decoration: none;
}


.matchkind:before{
    content: "";
    border-width: 5px;
    /*border-color: transparent transparent transparent #000;*/
    position: absolute;
    right: 10px;
    top: 15px;
    width: 0;
    height: 0;
}
.mactchplayed{
    margin: 0;
    overflow: auto;
    padding: 10px;
    max-height: 220px;
}
/*鼠标移入li,高度改变,以便能显示出div中的内容*/
.li1:hover{
    height: 280px;
}
.mactchplayed li{
    width: 100%;
    height: 30px;
    list-style-type: none;
}
.container3{
    width: 1066px;
    height: 100px;
    margin:0 auto;
    text-align: center;
}
.container3 span{
    font-size: 20px;
    font-family: 微软雅黑;
    color: darkblue;
    margin-left: 15%;
}
.container4{
    width: 1366px;
    height:30px;
    background-color: blue;
}
.container5{
    width: 1366px;
    height: 200px;
    background:linear-gradient(white,red);
}









/*视频设置*/
#video {
    width: 970px;
    height: 594px;
    margin: 0 auto;
    position: relative;
}

#video video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.VideoBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 70px;
    height: 70px;
    margin-left: -35px;
    margin-top: -35px;
    cursor: pointer;
    z-index: 10;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width:5px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow:rgba(0,0,0,0.3);
    border-radius:10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius:10px;
    background: rgba(225, 225, 225, 0.5);
    scrollbar-face-color:   #ffcc99;
    -webkit-box-shadow:rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(255,0,0,0.4);
}
